/* General */

:root {
    --Black: #1A1A40;
    --Navy: #0a001a;
    --Purple: #ad50ff;
    --Dark-Purple: #360066;
}

html,
body {
    background-color: var(--Navy) !important;
    margin: 0;
    font-family: 'Microsoft YaHei UI' !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: white !important;
    text-decoration: none !important;
}

.text-purple {
    color: var(--Purple) !important;
}

.bg-dark-purple {
    background-color: var(--Dark-Purple) !important;
}

#Intro,
#AboutMe,
#Projects {
    height: clamp(45em, 100vh, 70em);
}

/* Navbar */

@media (min-width: 768px) {
    .Navbar {
        position: fixed !important;
    }
}

@media (max-width: 767px) {
    .Navbar {
        position: static !important;
    }
}

/* About Me */

@media (min-width: 576px) {
    .fs-sm-5 {
        font-size: 1.25rem;
    }
}

/* Projects */

#Projects .carousel-indicators {
    bottom: -4em !important;
    z-index: 0 !important;
}

@media (min-width: 1200px) {
    #Projects .carousel-inner {
        width: 80%;
    }
}

@media (max-width: 767px) {
    .carousel-control-prev, .carousel-control-next  {
        height: 5em;
        top: unset !important;
        bottom: -4.5em !important;
    }
    .carousel-control-prev {
        left: 2em !important; 
    }
    .carousel-control-next {
        right: 2em !important; 
    }
}

#Projects .card {
    background-color: var(--Dark-Purple);
    color: white;
    border: none !important;
    max-width: 26rem;
}

@media (min-width: 576px) {
    #Projects .card {
        height: 32rem;
    }
}

@media (max-width: 575px) {
    #Projects .card {
        height: 36rem;
    }
}